<div class="card">
    <div class="card-header">
      Cadastro de Tarefa
    </div>
    <div class="card-body">
        <form [formGroup]="tarefaForm" (ngSubmit)="salvarTarefa()">
            <div class="mb-3">
                <label for="nome" class="form-label">Tarefa</label>
                <input type="text" class="form-control" id="nome" aria-describedby="nome"  formControlName="nome">
                <div id="nameHelp" class="form-text">Dê um titulo para sua tarefa</div>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="descricao"  formControlName="detalhes">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="concluido"  formControlName="concluido">
                <label class="form-check-label" for="concluido">Concluída</label>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
    <!-- bottons -->
  </div>